body {
    margin: 0;
}

.container_slider_css
{height:100%;}

.photo_slider_css
{position:absolute;animation:round 92s infinite;
    opacity:0;width:100%;
top: 2.15%}

@keyframes round {
    2%{opacity:1}
    98%{opacity:1}
    99% {opacity: 0}
}
img:nth-child(1){animation-delay:0s}
img:nth-child(2){animation-delay:10s}
img:nth-child(3){animation-delay:17s}
img:nth-child(4){animation-delay:25s}
img:nth-child(5){animation-delay:32s}
img:nth-child(6){animation-delay:39s}
img:nth-child(7){animation-delay:47s}
img:nth-child(8){animation-delay:58s}
img:nth-child(9){animation-delay:66s}
img:nth-child(10){animation-delay:73s}
img:nth-child(11){animation-delay:80s}
img:nth-child(12){animation-delay:91s}


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 2.15%;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer2{
	background-color: #111111;
	top: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 2.15%;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}